@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-block-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  max-width: 10% !important;
  background: transparent;
  transition: all 0.85s ease-in-out;
}

.form-block-wrapper--is-login {
  opacity: 0.92;
}

.form-block-wrapper--is-signup {
  opacity: 0.94;
}

.form-block {
  position: relative;
  /* margin: 100px auto 0;
  width: 310px; */
  padding: 10px;
  background: transparent;
  border-radius: 2px;
  box-shadow: 0px 0px 16px 9px rgba(0, 0, 0, 0.07);
}

.form-block__header {
  margin-bottom: 20px;
}

.form-block__header h1 {
  font-size: 30px;
}

.form-block__toggle-block {
  position: relative;
  display: flex;
  align-items: center;
}
.form-block__toggle-block label {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 12px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}
.ant-modal-content {
  background: transparent !important;
}
.form-block__toggle-block label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: #ed6a5e;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#form-toggler:checked + label {
  background: rgba(255, 255, 255, 0.5);
}

#form-toggler:checked + label:after {
  left: 18px;
  background: #4caf50;
}
.form-block__toggle-block span {
  font-size: 13px;
  font-weight: 300;
}
.form-toggler {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
}

.form-block__input-wrapper {
  height: 126px;
  position: relative;
  margin-bottom: 2px;
  transition: all 0.25s cubic-bezier(0.36, 1, 0.62, 0.98) 0.3s;
}

.form-block--is-signup .form-block__input-wrapper {
  height: 270px;
  transition: all 0.5s cubic-bezier(0.36, 1, 0.62, 0.98) 0.2s;
}

.form-group--signup {
  position: absolute;
  top: 0;
  left: 150%;
  width: 100%;
}

.form-group__input {
  display: block;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 14px 10px;
  margin-bottom: 15px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1px;
  transition: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98),
    opacity 0.3s ease-in-out 0.2s, background 0.15s ease-in-out,
    border 0.3s ease-in-out;
}

.form-group__input:focus {
  outline: none;
  border: 1px solid #fff;
  background: transparent;
}

.form-block--is-signup .form-group--signup .form-group__input {
  transform: translateX(-150%);
}

.form-group--login .form-group__input {
  opacity: 1;
}

.form-block--is-signup .form-group--login .form-group__input {
  opacity: 0;
}

.form-block--is-signup .form-group--signup .form-group__input {
  opacity: 1;
}

.button {
  display: inline-block;
  padding: 15px 12px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 13px 8px rgba(0, 0, 0, 0.1);
}
.login_close::after {
  content: "";
}

.button--primary {
  background: #ed6a5e;
  color: #fff;
}

.button:hover {
  box-shadow: 0px 0px 18px 15px rgba(0, 0, 0, 0.15);
}

.full-width {
  width: 100%;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 43px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  cursor: pointer;
}

.form-block--is-login .form-group--signup {
  opacity: 0;
  pointer-events: none; /* Prevent interaction */
}

.form-group__input:nth-of-type(1) {
  transition: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98) 0.085s,
    opacity 0.3s ease-in-out 0.2s, background 0.15s ease-in-out,
    border 0.3s ease-in-out;
}

.form-group__input:nth-of-type(2) {
  transition: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98) 0.17s,
    opacity 0.3s ease-in-out 0.2s, background 0.15s ease-in-out,
    border 0.3s ease-in-out;
}

.form-group__input:nth-of-type(3) {
  transition: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98) 0.255s,
    opacity 0.3s ease-in-out 0.2s, background 0.15s ease-in-out,
    border 0.3s ease-in-out;
}

.form-group__input:nth-of-type(4) {
  transition: transform 0.35s cubic-bezier(0.36, 1, 0.62, 0.98) 0.34s,
    opacity 0.3s ease-in-out 0.2s, background 0.15s ease-in-out,
    border 0.3s ease-in-out;
}

input[type="checkbox"] + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  right: 18px;
  width: 12px;
  height: 12px;
  background: #ed6a5e;
  border-radius: 50%;
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

input[type="checkbox"]:checked + label:after {
  right: 0;
}

.tooltip {
  padding: 7px;
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: 0;
}
